footer {
  background-color: #062d3e;
  padding-top: 70px;
  padding-bottom: 70px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    @include responsivo(mobile) {
      flex-direction: column;
      gap: 42px;
    }
    .footer-links {
      display: flex;
      gap: 28px;
      @include responsivo(mobile) {
        flex-direction: column;
        align-items: center;
        gap: 16px;
      }
      a {
        transition: all 0.3s ease;
        color: #fff;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        &:hover {
          color: #ed5c01;
        }
        @include responsivo(mobile) {
          font-size: 24px;
        }
      }
    }
  }
}
