header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 3;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .right {
    flex: 1;
    max-width: 888px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
      display: flex;
      gap: 4rem;
      a {
        transition: all 0.3s ease;
        color: #062d3e;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        &:hover {
          color: #fff;
          position: relative;
          z-index: 3;
          &::after {
            content: "";
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 141px;
            height: 41px;
            background: url("/img/img_hover_navbar.svg") no-repeat center center;
            background-size: cover;
            z-index: -1;
          }
        }
      }
    }
    .btn {
      @include botao(#ebe3cc, #062d3e, #062d3e, #ebe3cc);
      border: 1px solid #062d3e;
      &:hover {
        border: 1px solid #fff;
      }
    }
  }
}
