@mixin responsivo($dispositivo) {
  @if $dispositivo == mobile {
    max-width: 768px;
  } @else if $dispositivo == tablet {
    max-width: 1024px;
  } @else {
    max-width: 1200px;
  }
}

@mixin centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin botao($corFundo, $corTexto, $corFundoH, $corTextoH) {
  transition: all 0.3s ease;
  padding: 1rem 1.8rem;
  border-radius: 122px;
  background-color: $corFundo;
  color: $corTexto;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  &:hover {
    background-color: $corFundoH;
    color: $corTextoH;
  }
}
