.s-category {
  background-color: #ed5c01;
  padding-top: 20px;
  padding-bottom: 20px;
  p {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
  }
  .container {
    height: 306px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }
  .differences {
    @include centralizar;
    flex-direction: column;
    .quantidade {
      background-color: #fbbd08;
      width: 154px;
      height: 154px;
      border-radius: 500px;
      @include centralizar;
      p {
        font-size: 64px;
        color: #062d3e;
      }
    }
  }
  .img-category {
    @include centralizar;
    gap: 24px;
    .category {
      @include centralizar;
      flex-direction: column;
      gap: 22px;
    }
    .jasper {
      @include centralizar;
      flex-direction: column;
      gap: 6px;
      .jasperp {
        font-size: 18px;
      }
    }
  }
}
